<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* altura do rodapé */
}
</style>
</head>

<body>
	<div id="footer" class="footer" th:fragment="footer">
		<!-- this is footer -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<p>Sistema para gerenciamento e controle de horas de atividades
					complementares</p>
				<footer>
					<adress> Insituto Federal do Mato Grosso do Sul - R. Pedro
					de Medeiros, 941 - Popular Velha<br>
					Corumbá - MS, 79310-110. </adress>
					<p>IFMS - Todos os direitos Reservados - 2023</p>
				</footer>
			</div>
		</nav>
	</div>
</body>
</html>