<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Sistema De Cadastro de Horas Complementares</title>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"/>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>
	
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
		<h1 class="panel-title">Adicionar Cursos Válidos</h1>
		</div>
		<div class="panel-body">
		
			<form class="form" method="POST" th:object="${cursoValido}" th:action="@{/addCursoValido}" style="margin: 20px 0">
			<div form-row>
											
					<input type="hidden" class="form-control"	th:field="*{id}" size="5" readonly="readonly"/>
					
				<div class="form-group  col-md-4">
					<label for="exampleInputEmail1">Categoria</label>				
					<input type="text" class="form-control"	th:field="*{categoriaCurso}" placeholder="Categoria do Curso"/>
				</div>
				<div class="form-group  col-md-2">		
					<label for="exampleInputEmail1">Total de Hora Permitida</label>
					<input type="text" class="form-control"	th:field="*{totalHoraValida}" placeholder="Hora Total Permitida"/>
				</div>
				<div class="form-group  col-md-2">		
					<label for="exampleInputEmail1">Total</label>
					<input type="text" class="form-control"	th:field="*{total}" placeholder="total"/>
				</div>
				<div class="form-group col-md-6">		
					<button type="submit"	class="btn btn-primary">Salvar</button>
				</div>
			</div>	
			</form>
		
		</div>		
	</div>
</body>
</html>