<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Sistema De cadasro de Horas Complementares</title>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"/>
</head>


<body>

	<div th:replace="fragments/header :: header"></div>
	
			<div class="alert alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}">
					Usuário salvo com sucesso!!!
				</span>
			</div>
			
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
		<h1 class="panel-title">Listagem de Usuários</h1>
		</div>
		<div class="panel-body">
					

			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>CPF</th>
						<th>Data de Nascimento</th>
						<th>Perfil</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.id}"></td>
						<td th:text="${usuario.nome}"></td>
						<td th:text="${usuario.cpf}"></td>	
						<td th:text="${usuario.dataNascimento}"></td>
						<td th:text="${usuario.perfil}"></td>
						<td>
							<a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${usuario.id})}">Editar</a>	
							<a class="delete btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${usuario.id})}">Excluir</a>	
							<a class="btn btn-sm btn-warning" th:href="@{/usuarioHoras/{id}(id=${usuario.id})}">Horas</a>				
						</td>					
					</tr>			
				
				</tbody>				
				
			</table>
			
			
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/addUsuario}" >Cadastrar Novo Usuário</a>
		</div>
	</div>
</body>
</html>