<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Sistema De Controle de Atividades Complementares</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
</head>
<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"> Horas Complementares salva com
			sucesso!!! </span>
	</div>

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Listagem de Horas Complementares cadastradas</h1>
		</div>
		<div class="panel-body">


			<table class="table">
				<thead>
					<tr>
						<th>Curso</th>
						<th>Hora Contemplada</th>
						<th>Certificado</th>
						<th>Nome Usuario</th>
						<th>CPF Usuario</th>
						<th>Data Curso</th>
						<th>Categoria Curso</th>
						<th>Editar/Excluir</th>
						<th>Validação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hora : ${horas}">
						<td hidden th:text="${hora.id}"></td>
						<td th:text="${hora.curso}"></td>
						<td th:text="${hora.horaContemplada}"></td>
						<td th:text="${hora.certificado}"></td>
						<td th:text="${hora.usuario.nome}"></td>
						<td th:text="${hora.usuario.cpf}"></td>
						<td th:text="${hora.dataCurso}"></td>
						<td th:text="${hora.cursoValido.categoriaCurso}"></td>

						<td><a class="btn btn-sm btn-primary" th:href="@{/editHoras/{id}(id=${hora.id})}">Editar</a> 
							<a class="delete btn btn-sm btn-danger" th:href="@{/deleteHoras/{id}(id=${hora.id})}">Excluir</a></td>
							<!-- <a th:href="@{/usuarioHoras/{id}(id=${usuario.id})}">Lista Horas</a> -->
						
					</tr>
				</tbody>
				
			</table>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/addHoras}">Cadastrar Nova Hora Complementar</a>
		</div>
	</div>
</body>
</html>