<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Sistema Detran</title>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"/>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>
	
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
		<h1 class="panel-title">Adicionar Multas</h1>
		</div>
		<div class="panel-body">
		
			<form class="form-inline" method="POST" th:object="${multa}" th:action="@{/addMulta}" style="margin: 20px 0">
				<div class="form-group">				
					<input type="hidden" class="form-control"	th:field="*{id}" size="5" readonly="readonly"/>
					<input type="text" class="form-control"	th:field="*{ano}" placeholder="Carro"/>
					<input type="text" class="form-control"	th:field="*{cidade}" placeholder="Marca"/>
					
					
					
					<select class="form-control" id="carro" th:field="*{multa.carro}" name="carro" required>
						<option value=""></option>
						<option th:each="carro : ${carros}"
								th:value="${carro.id}"
								th:utext="${carro.nome}"/>
					</select>
					<select class="form-control" id="tipoInfracao" th:field="*{multa.tipoInfracao}" name="tipoInfracao" required>
						<option value=""></option>
						<option th:each="tipoInfracao : ${tiposInfracao}"
								th:value="${tipoInfracao.id}"
								th:utext="${tipoInfracao.descricao}"/>
					</select>
					
					
					
					
					
					<button type="submit"	class="btn btn-primary">Salvar</button>
				</div>
			</form>
		
		</div>		
	</div>
</body>
</html>